:root{
    --max-width: 960px;
    margin: 0 auto;
    background-color: coral;
}
main{
    padding: 15px;
}
h1{
    text-align: center;
}
.container {
 max-width: var(--max-width);
 background-color: steelblue;
 border-radius: 6px;
 padding: 15px;
 font-family: 'Trade Winds', serif ;
 }

 button{
    font-family: 'Trade Winds', serif;
    border-radius: 6px;
    padding: 8px 20px 8px 20px;
    margin: 5px 0px;
    background-color: steelblue;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 20px 'Raleway',serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px rgb(243, 120, 75)
}

.bankbalance{
    background-color: coral;
}
.bankbalance p{
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
    background-color: steelblue;
     box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
     border-radius: 6px;
}
#money{
    display: block;
    margin: auto;
    text-align: center;
    border: solid 1px black;
    border-radius: 6px;
}
#inputbox{
    padding: 10px;
}
select{
    font-family: 'Trade Winds', serif;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 18px 'Raleway',serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px rgb(243, 120, 75)
}

#buy-btn{
    
    font-family: 'Trade Winds', serif;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0px;
    background-color: coral;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 20px 'Raleway',serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px rgb(243, 120, 75)
}
#reset{
    display: block;
    margin: 0 auto;
    font-family: 'Trade Winds', serif;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    background-color: coral;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 20px 'Raleway',serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px rgb(243, 120, 75)
}
label{
    margin: 0 auto;
    font-size: 1.5em;
}